  * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
    line-height:1.6;
    color:#333;
    background: url('../images/wallpaper4.jpeg') no-repeat center center/cover;
  }

  html {
    scroll-behavior: smooth;
  }

  .footer img {
    width: 193vh;
    height: 250px;
    margin-top: 200px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    margin-top: 50px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }

  .footer {
    flex: 1;
    min-width: 250px;
    margin: 10px;
  }
  
  .hak-cipta h3 {
    margin-bottom: 15px;
    font-size: 18px;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding-bottom: 5px;
  }

  .hak-cipta p {
    font-size: 14px;
    line-height: 1.6;
    color: #ccc;
  }

  .sponsor h3 {
    margin-bottom: 15px;
    font-size: 18px;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding-bottom: 5px;
  }

  .sponsor ul {
    font-size: 14px;
    line-height: 1.6;
    color: #ccc;
    list-style: none;
    padding: 0;
  }

  .sponsor ul li {
    margin: 8px 0;
  }

  .sponsor ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease;
  }

  .sponsor ul li a:hover {
    color: #b50404;
    transition: 0.7s;
  }

  .logo img {
    height: 50px;
    width: 100px;
    object-fit: cover;
  }
  
  .copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #aaa;
  }