 body {
     background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
     url('../images/wallpaper2.jpeg') no-repeat center center/cover;
     height: 100vh;   
     margin: 0;
     display: flex; 
     justify-content: center;   
     align-items: center;  
     font-family: 'Poppins', sans-serif;
 }

 .login-container {
     background: rgb(255, 255, 255, 0.7);
     padding: 70px;     
     text-align: center;
     width: 300px;
     box-shadow: black 2px 2px 8px;  
 }

 .login-container h1 {
     font-size: 3rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding-bottom: 10px;
 }

 .login-container p {
     padding-bottom: 1rem;
 }

 button {
     width: 100%;  
     padding: 12px;
     margin: 15px 0;  
     background: #741111;
     color: white;
     font-weight: bold;
     border-radius: 15px;
     border: none;
 }

 button:hover {
     background: #ed1212;
     transition: 0.6s;
 }
 
 input {
     width: 100%;
     padding: 15px;
     margin: 15px 0; 
     border-radius: 5px;
     border: 1px solid #ccc;
 }