 * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
 }

  body {
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
     url('../images/wallpaper2.jpeg') no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    line-height:1.6;
    color:#333;
  }

  html {
    scroll-behavior: smooth;
  }

  header {
    height: 90vh;
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
     url('../images/wallpaper3.jpeg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 30px 0;
  }

  header h1 {
    font-size: 7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 10px 12px #000000;
    animation: fadeIn 2s ease;
  }

  .btn {
    background:#780101;
    color:#fff;
    padding:0.8rem 2rem;
    border-radius:30px;
    text-decoration-line: none;
    transition:0.3s;
    animation: fadeIn 5s ease;
  }

  .btn:hover {
    background:#b30c0c;
  }

  @keyframes fadeIn {
    from {opacity:0; transform:translateY(30px);}
    to {opacity:1; transform:translateY(0);}
  }

  .judul h1 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #000000;
  }

  .gallery {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    gap: 15px;                
    padding: 20px;
    margin: 30px 0 50px 0;
    background: rgb(41, 40, 40);
  }

  .gallery h1 {
    text-align: center;
    margin: 12px 12px 12px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #fff;
  }

  .gallery p {
    color: #fff;
    font-size: 15px;
    text-align: center;
  }

  .gallery img {
    width: 350px;              
    height: 300px;             
    object-fit: cover;
    margin: 10px;     
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 25px rgba(0,0,0,0.3);
  }

