  * {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
    line-height:1.6;
    color:#333;
    background: url('../images/wallpaper4.jpeg') no-repeat center center/cover;
  }

  html {
    scroll-behavior: smooth;
  }

  #artikel  {
    margin-bottom: 50px;
  }

  .article-box {
    max-width: 800px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin: 20px auto;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .main h1 {
    text-align: center;
    margin: 12px 12px 12px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
  }

  .article-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  }

  .article-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .article-content {
    padding: 20px;
  }

  .article-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  .article-text {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .btn-read {
    display: inline-block;
    padding: 10px 15px;
    background: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease;
  }

  .btn-read:hover {
    background: #005fa3;
  }

  .tournament {
    display: flex;            
    justify-content: center;  
    align-items: center;    
    background: rgb(41, 40, 40);
    padding: 10px 0 20px 0;
    margin-bottom: 50px;
  }

  .tournament h1 {
    text-align: center;
    margin: 30px 12px 30px 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color:aliceblue
  }

  .picture-tournament img {
    width: 400px;              
    height: 280px;   
    margin: 10px;              
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  }
  
  .picture-tournament img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    transition: 0.7s;
  }

  