  html {
    fon-family: poppins, sans-serif;
    scroll-behavior: smooth;
  }

  .body-index {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url('../images/wallpaper2.jpeg') no-repeat center center/cover;
  }

  .form-index {
    border: none;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .form-index:focus {
    border: none;
    box-shadow: 0 0 10px rgba(76, 75, 75, 1);
    transition: 0.5s;
  }

  .body-dashboard {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url('../images/pemainfifa') no-repeat center center/cover;
  }

  .body-gallery {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url('../images/pemainfifa') no-repeat center center/cover;
  }

